# -*- coding: utf-8 -*-
"""
Created on Tue Apr 29 00:31:10 2025

@author: joana
"""

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask demo PCII</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/User">User</a></li>
                    <li><a class="button" href="/gform/Topic">Topic</a></li>
                    <li><a class="button" href="/gform/Post">Post</a></li>
                    <li><a class="button" href="/gform/User_Post">User Post</a></li>
                    <li><a class="button" href="/Userlogin">Users</a></li>
                    <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>