<!doctype html>
<html lang="en">
  <head>
  
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trabalho PCII - Grupo 12</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/User">User</a></li>
                    <li><a class="button" href="/gform/Topic">Topic</a></li>
                    <li><a class="button" href="/gform/Post">Post</a></li>
                    <li><a class="button" href="/gform/User_Post">User Post</a></li>
                    <li><a class="button" href="/subform/User.User_Post?option=''">Posts of Users</a></li>
                    <li><a class="button" href="/Userlogin">Users</a></li>
                    <li><a class="button">User: {{ulogin}}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>